.wrap-mnemonic__input {
    display: flex;
    margin: 0 0 30px 0;
    background: linear-gradient(0deg, #252630, #252630), #60616D;
    border: 2px solid #393A3D;
    border-radius: 10px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 12px 6px;
}

.mnemonic__input-content {
    display: inline-flex;
    max-width: 104px;
}

.mnemonic__input-content label{
    color: #60616D;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}

.mnemonic__input-content input {
    display: block;
    background: transparent;
    border: none;
    margin: 0 0 0 5px;
    color: #4385F5;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}