.btn-back {
    display: flex;
    align-items: center;
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
}

.btn-back:hover {
    opacity: 0.7;
}

.arrow-left {
    height: 40px;
    width:  40px;
    fill: #CFD0DD;
}

.btn-back span {
    font-size: 16px;
    color: #CFD0DD;
    margin-left: 10px;
}