@font-face {
  font-family: 'Poppins';
  src: url('./fonts/poppins/Poppins-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Poppins';
  src: url('./fonts/poppins/Poppins-Medium.woff2') format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'Poppins';
  src: url('./fonts/poppins/Poppins-SemiBold.woff2') format('woff2');
  font-weight: 600;
}

@font-face {
  font-family: 'Poppins';
  src: url('./fonts/poppins/Poppins-Bold.woff2') format('woff2');
  font-weight: 700;
}


:root {
  --main-gradient:  rgb(240,248,255);
  --mazarynBlack: #151620;
  --mazarynGrey: #60616D;
  --mazarynBg:   #252630;
}

body {
  margin: 0;
  background: var(--mazarynBg);
  font-family: 'Poppins', sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.App-header {
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #fff;
}

.App-header a {
  color: #000000CC;
  text-decoration: none;
  font-size: 0.875em;
  font-weight: 300;
  padding: 20px;
}

